* {
  font-family: monospace; }

.header {
  text-align: center; }

.h1 {
  font-size: 40px; }

.sidenav-h {
  padding: 6px 8px 6px 16px;
  font-size: 30px;
  color: #111;
  display: block; }

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: antiquewhite;
  overflow-x: hidden;
  padding-top: 20px; }

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #111;
  display: block; }

.sidenav a:hover {
  color: #808080; }

.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px; }

.addform {
  box-sizing: border-box; }

.container-add-form {
  display: flex;
  justify-content: center; }

input[type=text], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; }

label {
  padding: 12px 12px 12px 0;
  display: inline-block; }

input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right; }

input[type=submit]:hover {
  background-color: lightslategray; }

.container {
  border-radius: 5px;
  background-color: antiquewhite;
  width: 60%;
  padding: 20px; }

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px; }

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.add-form-container {
  display: flex;
  justify-content: end; }

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0; } }

.page-header {
  text-align: center;
  font-size: 30px;
  border-bottom: solid;
  border-color: antiquewhite;
  padding-bottom: 20px;
  border-width: 7px; }

.middle {
  text-align: center; }

.last {
  border-bottom: solid;
  border-color: antiquewhite;
  padding-bottom: 20px;
  border-width: 7px; }

.title_header {
  text-align: center;
  font-size: 20px; }
